extends layout

block content
    h1.display-2 Combat de monstres !
    br
    p.lead
        | La plateforme officielle de l'application
    br
    p
        | Donec pretium odio at magna accumsan molestie. Aenean commodo, massa id consectetur lobortis, lorem mauris facilisis ex, vitae consectetur lacus mi posuere urna. Quisque semper nec lacus ut malesuada. In placerat sapien ac aliquet iaculis. Nunc venenatis sapien mauris, eget rhoncus augue tristique et. Nullam turpis elit, iaculis nec magna sed, luctus maximus lectus. Proin arcu turpis, volutpat vitae lorem sit amet, convallis consectetur tortor. Curabitur id mauris pulvinar leo varius aliquam. Nunc a metus id massa gravida accumsan. Nam ultrices risus id aliquam gravida. Nullam et sollicitudin nibh. Sed in nulla quis nisl bibendum rutrum vel ut sem.