extends layout

block content
    h1.display-2 Tous les monstres
    br
    p.lead
        | Voici la liste de tous les monstres créés
    for monster,i in monsters
        li.monsters
            a(href="/monstre/"+(i+1))= monster.name