doctype html
html(lang='en')
    head
        title Laïka To The Moon
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body
        header.display-2 LAÏKA TO THE MOON
        header#subtitle Le jeu des gamers intergalactiques
        nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
            a.navbar-brand(href='/') MENU
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                li.nav-item.active
                    a.nav-link(href='/') Accueil 
                li.nav-item
                    a.nav-link(href='../communaute') Communauté
                li.nav-item
                    a.nav-link(href='../create_monster') Créer un monstre
                li.nav-item
                    a.nav-link(href='../monstre/all') Tous les monstres
                li.nav-item
                    a.nav-link(href='../forum') Forum
                

        br
        main
        block content 