extends layout

block content
    h1.display-2 Nouveau monstre
    br
    p Pour créer un monstrer, veuillez remplir le formulaire suivant :
    br
    form(action='/create_monster', method='post')
        .form-group
            input#name.form-control(type='text', name='name', placeholder='Nom')
        .form-group
            input#niveau.form-control(type='number', name='level', placeholder='Niveau')
        .form-group
            input#blabla.form-control(type='text', name='desc', placeholder='Description')
        button.btn.btn-primary(type='submit' value='enregistrer') Enregistrer

