body {
    height: 1000px;
}
header {
    background-color: rgb(6, 19, 73);
    color: white;
    height: 150px;  
    text-align: center;
    font-size: 4em;
    padding: 2%;
}

#subtitle {
    font-size: 2em;
    color: rgb(233, 159, 0);
}

nav {
    font-size: 1.25em;
}
.navbar-brand {
    color: rgb(233, 159, 0);
    border: 2px dashed rgb(6, 19, 73);
    padding: 0.5% 1.5% 0.5% 1.5%;
}

li {
    list-style: none;
    margin-left: 5%;

}
li a {
    color: white;
}
li a:hover {
    color: rgb(233, 159, 0);
}

img {
    width: 200px;
}

h1 {
    color: rgb(6, 19, 73);
}
h1, p {
    margin: 2%;
}

form {
    width: 50%;
    margin: auto;
}

li.monsters {
    font-size: 1.5em;
    list-style: disc;
}

li.monsters a {
    color: rgb(6, 19, 73);
}
li.monsters a:hover {
    color: rgb(233, 159, 0);
}